<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="customCss" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="customJs"></script>
    <script id="myDataObj">
      dataObj
    </script>
  </head>
  <body ng-app="myApp" ng-controller="logInController">
    <div class="container">
      <img src="login_background" class="login-bg-desktop">
      <img src="login_bg_tablet" class="login-bg-tablet"> 
      <img src="login_bg_mobile" class="login-bg-mobile">    
  </div>
    <div ng-show="loading" class="loader loader-wrapper">
      <img src="loaderUrl" />
    </div>
  
    <div class="input-container">
      <div class="logo-image">
        <img src="companyLogo" />
      </div>
      <div class="title-login">
        <h3>LOGIN</h3>
      </div>

      <form name="loginForm" novalidate>
        <div class="login-credentials" ng-if="!userData.withPin">
          <div
            class="form-group"
            ng-class="{ 'has-error': loginForm.username.$invalid && !loginForm.username.$pristine }"
          >
            <input
              type="text"
              name="username"
              class="form-control login-input"
              id="username"
              ng-model="userData.username"
              placeholder="Enter username"
              required
            />
          </div>
          <div
            class="form-group"
            ng-class="{ 'has-error': loginForm.password.$invalid && !loginForm.password.$pristine }"
          >
            <input
              type="password"
              name="password"
              class="form-control login-input"
              id="password"
              ng-model="userData.password"
              placeholder="Enter password"
              required
            />
          </div>
        </div>

        <div class="login-pin" ng-if="userData.withPin">
          <div>
            <input
              type="{{ inputType1 }}"
              name="otp1"
              class="otp-input"
              ng-model="userData.otp[0]"
              maxlength="1"
              ng-keypress="convertToPassword('1')"
              move-next-on-maxlength
              inputmode="numeric" 
              required
            />
            <input
              type="{{ inputType2 }}"
              name="otp2"
              class="otp-input"
              ng-model="userData.otp[1]"
              maxlength="1"
              ng-keypress="convertToPassword('2')"
              move-next-on-maxlength
              inputmode="numeric" 
              required
            />
            <input
              type="{{ inputType3 }}"
              name="otp3"
              class="otp-input"
              ng-model="userData.otp[2]"
              maxlength="1"
              ng-keypress="convertToPassword('3')"
              move-next-on-maxlength
              inputmode="numeric" 
              required
            />
            <input
              type="{{ inputType4 }}"
              name="otp4"
              class="otp-input"
              ng-model="userData.otp[3]"
              maxlength="1"
              ng-keypress="convertToPassword('4')"
              move-next-on-maxlength
              inputmode="numeric" 
              required
            />
          </div>
        </div>

        <button
          type="submit"
          ng-click="login()"
          class="btn btn-login btn-block"
          ng-disabled="loginForm.$invalid"
        >
          SUBMIT
        </button>
      </form>

      <div class="login-with-pin" ng-if="userData.withPin == false">
        <span ng-click="changeLogInType(true)">Login with PIN ?</span>
      </div>
      <div class="login-with-pin" ng-if="userData.withPin == true">
        <span ng-click="changeLogInType(false)">Login with Credentials ?</span>
      </div>
      <div class="login-qr">
        <button type="submit" class="btn" ng-click="reconfigQR()">
          <i class="fa fa-qrcode" aria-hidden="true"></i> Re-Configure
        </button>
      </div>
    </div>
  </body>
</html>
