<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inv Count List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="customCss" />
    <link rel="stylesheet" href="responsiveCss" />
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="customJs"></script>
    <script id="myDataObj" type="application/json">
      dataObj
    </script>
  </head>
  <body ng-app="myApp" ng-controller="invcountlistController">
    <div ng-show="loading" class="loader loader-wrapper">
      <img src="loaderUrl" />
    </div>
    <!--nswms_main_header starts-->
    <div class="nswms_main_header d-flex justify-content-between align-items-center">
      <div class="header_left">
        <span ng-click="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </span>
      </div>
      <div class="header_center_logo">
        <h4>Inventory Count List </h4>
      </div>
      <div class="header_right">
        <span ng-click="logOut()">
          <i class="fa fa-power-off" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!--nswms_main_header ends-->
    <!--nswms_main_body starts-->
    <div class="nswms_main_body">
      <div class="container">
        <div class="inv_adj_fields mb-2">
          <div class="row d-flex justify-content-between">
            <div class="col-md-4 col-sm-6 col-6 col-xs-6">
              <p class="fw-bolder mb-1">
                <i class="fa fa-map-marker" aria-hidden="true" style="color:#bd3b3b;"></i>
                <span class="fw-normal"> {{locObj.name}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="pickup_main_card mt-1">
          <div class="row justify-content-between item-lookup-details">
            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mt-2" ng-repeat="(inv,invObj) in invenoryCountList">
              <div class="card p-2" ng-click="cardclick(invObj)">
                <div class="checkbox-wrapper">
                  <td><input class="print-checkbox" type="radio" name="selectedResult" ng-model="$parent.selectedResult" ng-value="invObj"> </td>
                </div>
                <table>
                  <tr>
                    <td class="card-td1">
                      <b>Count No.</b>
                    </td>
                    <td class="card-td2">:</td>
                    <td class="card-td3">{{invObj.tranNo}}</td>
                  </tr>
                  <tr>
                    <td class="card-td1">
                      <b>Date</b>
                    </td>
                    <td class="card-td2">:</td>
                    <td class="card-td3">{{invObj.tranDate}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <footer class="inv_adj_footer button" ng-click="pickInventory()">
          <span class="footer-desktop">NEXT</span>
        </footer>
      </div>
    </div>
    </div>
    <!--nswms_main_body ends-->
  </body>
</html>