<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Configure Count Record</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="customCss" />
    <link rel="stylesheet" href="responsiveCss" />
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="customJs"></script>
    <script id="myDataObj">
      dataObj
    </script>
    <style>
      .customClass {
        background-color: #45dc4554;
      }
    </style>
  </head>
  <body ng-app="myApp" ng-controller="configurecountrecordController">
    <div ng-show="loading" class="loader loader-wrapper">
      <img src="loaderUrl" />
    </div>
    <!--nswms_main_header starts-->
    <div class="nswms_main_header d-flex justify-content-between align-items-center">
      <div class="header_left">
        <span ng-click="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </span>
      </div>
      <div class="header_center_logo">
        <h4>Configure Count Record</h4>
      </div>
      <div class="header_right">
        <span ng-click="logOut()">
          <i class="fa fa-power-off" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <!--nswms_main_header ends-->
    <!--nswms_main_body starts-->
    <div class="nswms_main_body">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-md-4 col-sm-6 col-6 col-xs-6">
            <p class="fw-bolder mb-1">
              <i class="fa fa-map-marker" aria-hidden="true" style="color:#bd3b3b;"></i>
              <span class="fw-normal"> {{locObj.name}}</span>
            </p>
          </div>
          <div class="picklist_select col-md-4 col-lg-3 col-sm-6 col-6 col-xs-6">
            <p class="mb-1">
              <span>Adj Account</span> : <span class="fw-normal"> {{setUpData.defaultAccntText}}</span>
            </p>
          </div>
        </div>
        <div class="row justify-content-between transactions">
          <div class="picklist_select col-md-4 col-lg-3 col-sm-6 col-6 col-xs-12">
            <p class="mb-1">
              <span>Count ID</span> : <span class="fw-normal"> {{invCountRecdata.tranNo}}</span>
            </p>
          </div>
          <div class="picklist_select col-md-4 col-lg-3 col-sm-6 col-6 col-xs-12">
            <p class="mb-1">
              <span>BackUp ID</span> : <span class="fw-normal"> {{backUpRecText}}</span>
            </p>
          </div>
        </div>
        <div class="pickup_main_card mt-1">
          <div class="row justify-content-between item-lookup-details">
            <div class="col-md-6 col-sm-6 col-xs-12 col-12 mt-2" ng-repeat="item in invCountRecdata.items">
              <div ng-class="{'card p-2': item.quantity == 0, 'customClass card p-2': item.quantity > 0}" ng-click="getItemDetails(item,$index)">
                <table>
                  <tr>
                    <td class="card-td1">
                      <b>Item Name</b>
                    </td>
                    <td class="card-td2">:</td>
                    <td class="card-td3">{{item.itemName}}</td>
                  </tr>
                  <tr>
                    <td class="card-td1">
                      <b>Bin Name</b>
                    </td>
                    <td class="card-td2">:</td>
                    <td class="card-td3" ng-if="item.binNoText">{{item.binNoText}}</td>
                    <td class="card-td3" ng-if="!item.binNoText">-none-</td>
                  </tr>
                  <tr>
                    <td class="card-td1">
                      <b>Quantity</b>
                    </td>
                    <td class="card-td2">:</td>
                    <td class="card-td3">{{item.quantity}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <footer class="inv_adj_footer button" ng-click="approveCompleteBackUp()">
          <span class="footer-desktop">Approve</span>
        </footer>
        <!--Configure count record Popup starts-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close"> Close </button>
                <button type="button" class="save-button" ng-click="submitConfiguredItem()"> Save </button>
              </div>
              <div class="modal-body">
                <div class="inv_adj_main_body">
                  <div class="inv_adj_popup_lft_img d-flex justify-content-start">
                    <div class="item_image">
                      <img src="{{itemData.image}}">
                    </div>
                    <div class="inv_adj_item_data">
                      <table>
                        <tbody>
                          <tr>
                            <td class="card-td1">
                              <b>Count ID</b>
                            </td>
                            <td class="card-td2">:</td>
                            <td class="card-td3"> {{invCountRecdata.tranNo}} </td>
                          </tr>
                          <tr>
                            <td class="card-td1">
                              <b>Item Name</b>
                            </td>
                            <td class="card-td2">:</td>
                            <td class="card-td3"> {{itemData.itemName}} </td>
                          </tr>
                          <tr>
                            <td class="card-td1">
                              <b>Quanity</b>
                            </td>
                            <td class="card-td2">:</td>
                            <td class="card-td3">{{itemData.quantity}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <hr>
                  <div class="inv_adj_popup_slect">
                    <div class="row justify-content-between">

                      <!-- <div class="col-md-4 col-xs-6 col-sm-4 col-lg-4 grid-padding" ng-if="itemData['isSerialItem'] == false && itemData['isLotItem'] == false">
                        <div class="inv_Adj_binlist">
                          <div class="ns_input-scan">
                            <input type="text" ng-model="positiveAdj.itemOrUpc" ng-blur="scanItem()" class="form-control" ng-disabled="disableUpc" placeholder="Scan Item/UPC" id="scanitem" >
                            <i class="fa fa-camera cam-icon" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-md-4 col-xs-6 col-sm-4 col-lg-4 grid-padding" ng-if="setUpData['useSerial'] == true && itemData['isSerialItem'] == true">
                        <div class="inv_Adj_binlist">
                          <div class="ns_input-scan">
                            <input ng-model="positiveAdj.serialNo" type="text" ng-blur="scanItem()" class="form-control"  placeholder="Scan Serial Number" id="scanitem" >
                            <i class="fa fa-camera cam-icon" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-md-4 col-xs-6 col-sm-4 col-lg-4 grid-padding" ng-if="itemData['isSerialItem'] == false && itemData['isLotItem'] == false">
                        <div class="input-group inv_adj_status_list">
                            <input type="text" ng-model="positiveAdj.itemOrUpc" ng-blur="scanItem()" class="form-control" ng-disabled="disableUpc" placeholder="Scan Item/UPC" id="scanitem" >
                            <div class="input-group-append" id="cameraDiv" ng-click="openScanner('upc')">
                              <div class="camera-icon">
                                <i class="fas fa-camera"></i>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-xs-6 col-sm-4 col-lg-4 grid-padding" ng-if="setUpData['useSerial'] == true && itemData['isSerialItem'] == true">
                        <div class="input-group inv_adj_status_list">
                            <input ng-model="positiveAdj.serialNo" type="text" ng-blur="scanItem()" class="form-control"  placeholder="Scan Serial Number" id="scanitem" >
                            <div class="input-group-append" id="cameraDiv" ng-click="openScanner('serial')">
                              <div class="camera-icon">
                                <i class="fas fa-camera"></i>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-xs-6 col-sm-4 col-lg-4 grid-padding" ng-if="setUpData['useLot'] == true &&  itemData['isLotItem'] == true">
                        <div class="input-group inv_adj_status_list">
                            <input ng-model="positiveAdj.lotNO" type="text" ng-blur="scanItem()" class="form-control"  placeholder="Scan lot Number" id="scanitem">
                            <div class="input-group-append" id="cameraDiv" ng-click="openScanner('lot')">
                              <div class="camera-icon">
                                <i class="fas fa-camera"></i>
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-lg-4 col-sm-6 col-6 col-xs-6 grid-padding" ng-if="setUpData['useInvStatus'] == true" >
                        <div class="form-group ns_input-left">
                          <select ng-model="positiveAdj.selectedStatus" class="form-control"  ng-change="selectPosStatus()" ng-options="option.id as option.text for option in allStatus" id="status">
                            <option value="" disabled>Select Status</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-6 col-md-4 col-xs-6 col-sm-4 col-lg-4 grid-padding">
                        <div class="inv_adj_serial_qty">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button ng-click="decrement()" class="btn btn-qty">-</button>
                            </div>
                            <input type="number" ng-model="positiveAdj.adjQty" name="myInput" ng-disabled="disableQty" placeholder="AdjQty" class="form-control adj-qty" id="adjQty" />
                            <div class="input-group-append">
                              <button ng-click="increment()" class="btn btn-qty">+</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-6 col-xs-6 grid-padding">
                        <button type="button" class="btn btn-add-details" ng-click="addPosConfiguredItem()">Add Details</button>
                      </div>
                    </div>
                  </div>
                  <div class="inv_adj_popup_detail">
                    <div class="row justify-content-between">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-12 mt-2" ng-repeat="item in configuredItems">
                        <div class="card p-2">
                          <div class="checkbox-wrapper">
                            <i class="fa fa-trash" aria-hidden="true" ng-click="deleteConfiguredItem($index)"></i>
                          </div>
                          <table>
                            <tbody>
                              <tr ng-if="setUpData['useLot'] == true &&  itemData['isLotItem'] == true">
                                <td class="card-td1">
                                  <b>Lot Number</b>
                                </td>
                                <td class="card-td2">:</td>
                                <td class="card-td3">{{item.lotNO}}</td>
                              </tr>
                              <tr ng-if="setUpData['useSerial'] == true && itemData['isSerialItem'] == true">
                                <td class="card-td1">
                                  <b>Serial Number</b>
                                </td>
                                <td class="card-td2">:</td>
                                <td class="card-td3">{{item.serialNo}}</td>
                              </tr>
                              <tr ng-if="setUpData['useInvStatus'] == true">
                                <td class="card-td1">
                                  <b>Status</b>
                                </td>
                                <td class="card-td2">:</td>
                                <td class="card-td3">{{item.selectedStatusText}}</td>
                              </tr>
                              <tr>
                                <td class="card-td1">
                                  <b>Quantity</b>
                                </td>
                                <td class="card-td2">:</td>
                                <td class="card-td3">{{item.adjQty}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Configure count record Popu Popup ends-->
    </div>
    </div>
    </div>
    <!--nswms_main_body ends-->
  </body>
</html>